version: "2"
services:

  nessie:
    image: ghcr.io/projectnessie/nessie:latest
    ports:
      # API port
      - "19120:19120"
      # Management port (metrics and health checks)
      - "9000:9000"
    depends_on:
      - jaeger
    environment:
      - nessie.version.store.type=IN_MEMORY
      - quarkus.otel.exporter.otlp.endpoint=http://jaeger:4317

  # Jaeger
  jaeger:
    image: docker.io/jaegertracing/all-in-one:1.76.0
    ports:
      - "16686:16686" # Jaeger UI
      - "4317:4317"   # OTLP gRPC receiver
    environment:
      - COLLECTOR_OTLP_ENABLED=true
