gatewayApi:
  enabled: true
  gateway:
    name: public-gateway
    namespace: default
    gatewayClassName: traefik # we just choose a common gatewayClass here
    listeners:
      - name: https
        hostname: chart-example.local
        port: 443
        protocol: HTTPS
        allowedRoutes:
          namespaces:
            from: All
        tls:
          enabled: true
          mode: Terminate
          certificateRefs:
            - name: nessie-cert
              kind: Secret
  httpRoutes:
    - name: public-route
      namespace: edge
      hostnames:
        - chart-example.local
      parentRefs:
        - name: infra-gateway
          namespace: default
          sectionName: https
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /api
          backendRefs:
            - name: release-name-nessie
              namespace: default
              port: 8080
              weight: 2
