-r requirements_dev.txt
black==21.8b0
flake8-annotations
flake8-bandit==2.1.2
flake8-black==0.2.3
flake8-bugbear==21.4.3
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
pytest-mypy==0.8.1
safety==1.10.3
types-python-dateutil
types-PyYAML
types-requests
types-simplejson
