attrs==20.3.0
botocore==1.19.11
Click==7.1.2
confuse==1.3.0
desert==2020.1.6
marshmallow==3.9.0
marshmallow_oneofschema==2.1.0
python-dateutil==2.8.1
requests==2.24.0
requests-aws4auth==1.0.1
simplejson==3.17.2
