-r requirements.txt
assertpy==1.1
bump2version==1.0.1
codecov==2.1.11
coverage==5.5
flake8==3.9.2
pip==21.1.2
pytest==6.2.4
pytest-cov==2.12.1
pytest-mock==3.6.1
pytest-mypy==0.8.1
pytest-recording==0.11.0
pytest-runner==5.3.1
Sphinx==4.0.2
sphinx-autodoc-typehints==1.12.0
tox==3.23.1
twine==3.4.1
watchdog==2.1.2
wheel==0.36.2
