img.bordered {
  height: auto;
  width: auto;
  border: 1px solid #9f9f9f;
  transition: transform ease-in-out 0.3s;
}

.md-tabs__link {
  font-size: 2em;
}

.md-tabs {
  background-color: #5d6cc0;
}

/* Maximum space for text block */
.md-grid {
  max-width: 80%; /* or 100%, if you want to stretch to full-width */
}

.md-typeset td code {
  word-break: revert;
}

.md-typeset .tabbed-set>.tabbed-content {
  padding: .5em;
  border: 1px solid #ababab;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
}

.md-typeset .tabbed-set .tabbed-block > :first-child {
  margin-top: 0;
}

.md-typeset .tabbed-labels>label {
  background-color: #efefef;
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  margin-left: 1px;
  margin-right: 1px;
}

/* Highlights the current selected tab (matches the nth tab corresponding to the nth checked input). */
.md-typeset .tabbed-set > input:first-child:checked ~ .tabbed-labels > :first-child,
.md-typeset .tabbed-set > input:nth-child(2):checked ~ .tabbed-labels > :nth-child(2),
.md-typeset .tabbed-set > input:nth-child(3):checked ~ .tabbed-labels > :nth-child(3),
.md-typeset .tabbed-set > input:nth-child(4):checked ~ .tabbed-labels > :nth-child(4),
.md-typeset .tabbed-set > input:nth-child(5):checked ~ .tabbed-labels > :nth-child(5),
.md-typeset .tabbed-set > input:nth-child(6):checked ~ .tabbed-labels > :nth-child(6),
.md-typeset .tabbed-set > input:nth-child(7):checked ~ .tabbed-labels > :nth-child(7),
.md-typeset .tabbed-set > input:nth-child(8):checked ~ .tabbed-labels > :nth-child(8),
.md-typeset .tabbed-set > input:nth-child(9):checked ~ .tabbed-labels > :nth-child(9),
.md-typeset .tabbed-set > input:nth-child(10):checked ~ .tabbed-labels > :nth-child(10),
.md-typeset .tabbed-set > input:nth-child(11):checked ~ .tabbed-labels > :nth-child(11),
.md-typeset .tabbed-set > input:nth-child(12):checked ~ .tabbed-labels > :nth-child(12),
.md-typeset .tabbed-set > input:nth-child(13):checked ~ .tabbed-labels > :nth-child(13),
.md-typeset .tabbed-set > input:nth-child(14):checked ~ .tabbed-labels > :nth-child(14),
.md-typeset .tabbed-set > input:nth-child(15):checked ~ .tabbed-labels > :nth-child(15),
.md-typeset .tabbed-set > input:nth-child(16):checked ~ .tabbed-labels > :nth-child(16),
.md-typeset .tabbed-set > input:nth-child(17):checked ~ .tabbed-labels > :nth-child(17),
.md-typeset .tabbed-set > input:nth-child(18):checked ~ .tabbed-labels > :nth-child(18),
.md-typeset .tabbed-set > input:nth-child(19):checked ~ .tabbed-labels > :nth-child(19),
.md-typeset .tabbed-set > input:nth-child(20):checked ~ .tabbed-labels > :nth-child(20) {
  background-color: lightblue;
}