# Copyright (C) 2020 Dremio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# Projectnessie Update development version on 'main' (or another branch) to the next
# patch/minor/major version as a -SNAPSHOT version.

# Manually triggered workflow, takes the optional "bumpType" and "bumpBranch" arguments.
# This workflow creates a Git commit to bump the development version.

# Secrets:
#   NESSIE_BUILDER  GH access-token to push the release-commits+tag to the branch,
#                   bypassing the required commit-hooks + review.

name: Bump version

on:
  # Manually triggered
  workflow_dispatch:
    inputs:
      bumpType:
        description: 'Bump what (`patch`, `minor`, `major`), defaults to `patch`'
        required: true
        type: string
        default: "patch"
      bumpBranch:
        description: 'The branch name to bump the version in, leave empty to bump the version on the `main` branch.'
        required: true
        type: string
        default: "main"

jobs:
  create-release:
    name: Bump version
    runs-on: ubuntu-24.04
    if: github.repository == 'projectnessie/nessie'
    env:
      BUMP_ON_BRANCH: ${{ github.event.inputs.bumpBranch }}
      BUMP_TYPE: ${{ github.event.inputs.bumpType }}
    permissions:
      contents: write

    steps:

    ### BEGIN runner setup
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        ref: ${{ env.BUMP_ON_BRANCH }}
        token: ${{ secrets.NESSIE_BUILDER }}
    - name: Setup Java, Gradle
      uses: ./.github/actions/dev-tool-java
    ### END runner setup

    - name: Get previous version information
      run: echo "PREVIOUS_VERSION=$(cat version.txt)" >> ${GITHUB_ENV}

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      env:
        # Same as for ci.yml
        GRADLE_BUILD_ACTION_CACHE_KEY_ENVIRONMENT: java-17
        GRADLE_BUILD_ACTION_CACHE_KEY_JOB: nessie-ci
        GRADLE_BUILD_ACTION_CACHE_KEY_JOB_INSTANCE: ci
      with:
        cache-read-only: true
        validate-wrappers: false

    - name: Bump to version
      run: ./gradlew :bumpVersion --bumpType ${{ env.BUMP_TYPE }}

    - name: Get bumped version information
      run: |
        echo "BUMPED_VERSION=$(cat version.txt)" >> ${GITHUB_ENV}
        echo "BUMPED_VERSION_NO_SNAPSHOT=${BUMPED_VERSION%-SNAPSHOT}" >> ${GITHUB_ENV}

    - name: Configure bump-version-bot-user in git config
      run: |
        git config --global user.email "nessie-bump-version-workflow-noreply@projectnessie.org"
        git config --global user.name "Nessie Bump Version Workflow [bot]"

    # Record the next development iteration in git
    - name: Record next development version in git
      run: git commit -a -m "[bump-version] bump to ${BUMPED_VERSION}"

    - name: Version information
      run: |
        cat <<! >> $GITHUB_STEP_SUMMARY
        ## Version information

        | **Previous Nessie version** | ${PREVIOUS_VERSION}       |
        | **Current Nessie version**  | ${BUMPED_VERSION}         |
        | **Bump type**               | ${BUMP_TYPE}              |
        | Git HEAD                    | \`$(git rev-parse HEAD)\` |
        !

    # Push the Git commit. If this one fails, some other commit was pushed to the
    # 'main' branch and break the linear history for the Nessie git repo.
    - name: Push Git commit
      run: |
        git push --no-verify origin
